.hbox {
    -fx-background-color: #D2DBE0;
}

.button {
    -fx-background-color: transparent;
    -fx-content-display: center;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.button:hover {
    -fx-background-color: #ffcdd2;
}

.button:focused {
    -fx-background-color: transparent;
}


